.header {
    opacity: 0.5;
<<<<<<< HEAD
    background-color: #000;
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 80px;
    color: white;
    text-align: center;
    font-size: 50px;
    line-height: 80px;
=======
    width: 100%;
    height: 50px;
    background-color: black;
>>>>>>> 80a396f06ae8152df38f32344bfe97b4557f51f8
}