p,h1,h2,h3,h4,h5,div,a{
    color:#000;
    font:14px/20px Helvetica,sans-serif,arial;
    margin: 0;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
html,
body{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font:14px/20px Helvetica,sans-serif,arial;
}
.content-wrap {
    width:100%;
    height: 100%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    .content{
        width:100%;
        height: 100%;
        box-sizing:border-box;
        background-color: rgba(0,0,0,.6);
        position: relative;
    }
}